.footer {
    display: flex;
    background-color: $color-secondary;
    flex-direction: column;
    align-items: center;
    align-content: center;
    &__logo {
        background-repeat: no-repeat;
    }
}
